html, body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0px;
	text-align: center;
	background-color: #FF6107;  

}

img {
	height: 100%;	
}

p {
	color: white;
	font-family: "Microsoft YaHei";
	font-size: 2rem;
	letter-spacing: 0.2rem;
	font-weight: 700;
	text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

#container {
	height: 80%;
	
}

.layout {
	height: 10%;
}

#upper {
	height: 60%;
}

#lower {
	height: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
}

